.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    z-index: 0;
}

.footerBg {
    width: 100%;
    height: 100%;
}

/* 
.footerContent {
    width: 100%;
    height: 100%;
    position: relative;
} */

.footerGateSmall {
    position: absolute;
    left: 50%;
    top: auto;
    width: auto;
    transform: translate(-50%, 0%);

    /* bottom: 50%;
    height: 65vh;
    filter: drop-shadow(-7px 15px 2px rgba(0, 0, 0, 0.3)) brightness(100%); */

    
    height: 13vh;
    bottom: 80%;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3)) brightness(0%);
}

.footerGateBig {
    
    position: absolute;
    left: 50%;
    top: auto;
    width: auto;
    transform: translate(-50%, 0%);

    bottom: 50%;
    height: 65vh;
    filter: drop-shadow(-7px 15px 2px rgba(0, 0, 0, 0.3)) brightness(100%);

    animation: beingBig 1.3s 1;
}

.bgCircle {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 5%;
    height: 100vh;
    width: auto;
    transform: translate(-50%, 0%);
    z-index: -1;
}

@keyframes beingBig {
    from {
        height: 13vh;
        bottom: 80%;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3)) brightness(0%);
    }

    to {
        height: 65vh;
        bottom: 50%;
        filter: drop-shadow(-7px 15px 2px rgba(0, 0, 0, 0.3)) brightness(100%);
    }
}