@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'gangOfThree';
  src: url('../public/go3v2.ttf');
}

@font-face {
  font-family: 'jmh';
  src: url('../public/JMH\ SS.ttf');
}

@font-face {
  font-family: 'gagalin';
  src: url('../public/gagalin.otf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}


*{
  font-family: gangOfThree;
}

body {
  color: var(--foreground);
  background: var(--background);
}

img {
  pointer-events: none;
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



.bg{
  background: url("/bg.png") no-repeat center center/cover;
}

.visible-delay{
  animation: fadeIn;
  animation-duration: 1.5s;
}

.visible-delay-short{
  animation: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.font-jmh{
  font-family: jmh;
}

.font-gagalin{
  font-family: gagalin;
}

.from-top{
  animation: fromTop;
  animation-duration: 1.5s;
}

@keyframes fromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.from-bottom{
  animation: fromBottom;
  animation-duration: 1.5s;
}

@keyframes fromBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}


.loader {
  width: 80px;
  aspect-ratio: 1;
  background: #8d7958;
  clip-path: polygon(100.00% 50.00%,64.14% 64.14%,50.00% 100.00%,35.86% 64.14%,0.00% 50.00%,35.86% 35.86%,50.00% 0.00%,64.14% 35.86%);
  -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
  animation: l1 1.5s infinite linear;
}
@keyframes l1{ 
  100%{transform: rotate(1turn)}
}



/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.card-bg{
  background: url('/event-card-bg.png') center/cover no-repeat;
}


.move{
  animation: move 30s infinite linear;
  will-change: transform;
}

@keyframes move {
  0%, 100% {
    transform: translateX(2%);
  }
  50%{
    transform: translateX(-61%);
  }
}